.dialogWrapper {
    padding: 1rem;
    padding-bottom: 0.5rem;
}

.container {

    z-index: 9999;
    background-color: #fff;
    width: 95%;
    top: 10%;
    border-radius: 0.5rem;
    max-width: 400px;
    margin: 1rem;
    margin-inline: auto;
    box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    
    border: none;

    form {
        flex-direction: column;
        display: flex;
        padding: 0.75rem;
        padding-bottom: 1.25rem;
    }

    h2 {
        font-size: 1.6rem;
        text-transform: uppercase;
        margin-bottom: 0.5em;
    }

    .dateLabel {
        font-size: 1.2rem;
        margin-bottom: 0.45em;
    }

    textarea {
        padding: 0.75em 0.75em;
        width: 100%;
        font-size: 1.1rem;
        min-height: 6rem;
    }

    .p {
        font-size: 1.2rem;
        margin-top: 1em; 
        margin-bottom: 0.45em;
    }

    [type=date] {
        padding: 0.7em 0.5em;
        width: 100%;
    }

    ::backdrop {
        background-color: red;
    }

    label {
        margin-top: 0.5rem;
    }

    .delete, .submit {
        display: inline-block;
        background: linear-gradient(90deg, #343434, #101010);
        color: white;
        border: none;
        border-radius: 0.25em;
        padding: 0.25em;
        font-size: 1.1rem;
        align-self: start;
        width: auto;
        flex-grow: 0;
        padding: 0.5em 1.1em;
        border-radius: 0.4em;
        cursor: pointer;
    }

    .delete {
        border: 1px solid rgb(168, 26, 26);
        background-color: #fff;
        color: rgb(179, 12, 12);
        background: none;
        &:hover {
            color: white;
            background-color: rgb(168, 26, 26);
        }
    }

    .buttonsContainer {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-top: 1.25rem;
    }

    .submit {
        margin-left: auto;
        background-color: #fff;
        color: rgb(255, 255, 255);
        padding: 0.5em 1.5em;
        &:hover {
            background: rgb(97, 97, 97);
        }
    }

    [type=radio] {
        display: none;
    }

    .priorityLabel {
        display: block;
        margin-top: 0;
        font-size: 1rem;
        padding: 0.45em 1em;
        border-radius: 0.5em;
        background-color: #fff;
        cursor: pointer;
        user-select: none;
    }


    .prioritiesContainer {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1rem;
        padding-bottom: 1rem;
    }

    [data-priority=small] {
        border-color: #d2edfd;
        color : #5395cf;
        border: 1px solid;
        &:hover {
            background-color: #d2edfd;
        }
    }
    
    [data-priority=medium] {
        border-color: #fdf1d2;
        color : #c9a646;
        border: 1px solid;
        &:hover {
            background-color: #fdf1d2;
        }
    }
    
    [data-priority=high] {
        border-color: #fdd2d2;
        color : #cf5e5e;
        border: 1px solid;
        &:hover {
            background-color: #fdd2d2;
        }
    }
    
    input[type=radio]:checked + [data-priority=small] {
        background-color: #5395cf;
        color: white;
        cursor: auto;
    }

    input[type=radio]:checked + [data-priority=medium] {
        background-color: #c9a646;
        color: white;
        cursor: auto;
    }

    input[type=radio]:checked + [data-priority=high] {
        background-color: #cf5e5e;
        color: white;
        cursor: auto;
    }
}


@media (width > 1000px) {
    .container {
        max-width: 500px;

        .buttonsContainer  {
            margin-top: 2rem;
        }

        h2 {
            font-size: 1.8rem;
        }
    }

    .dialogWrapper {
        width: 475px;
        margin-inline: auto;
        padding: 2rem 0.5rem;
        padding-bottom: 1rem;
    }

}

@media (width > 1200px) { 
    .container {
        h2 {
            font-size: 2rem;
        }
    }
}