.container {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;


    border-radius: 0.75rem;
    background-color: #ffffff;
    box-shadow: 0 10px 15px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    padding: 0.8em 0.8em;
    max-width: 305px;
    aspect-ratio: 3 / 2.2;
    width: 100%;
    font-size: 1.2rem;
    color: #3c3f3f;
    cursor: pointer;

    &:hover {
        background-color: #f5f5f5;
    }
}


.date {
    display: flex;
    align-items: end;
    gap: 0.25em;
    padding: 0.45rem;
    margin-top: auto;
    color: #a2a4a9;
    font-size: 1rem;

    img {
        filter: opacity(0.5);
    }
}

.priority {
    padding: 0.45rem;
    background-color: #f1def3;
    color : #b590bf;
    border-radius: 2.5em / 100%;
    font-size: 0.9rem;
    width: 10ch;
    text-align: center;
    text-transform: uppercase;
    cursor: text;
}

.small {
    background-color: #d2edfd;
    color : #5395cf;
}


.medium {
    background-color: #fdf1d2;
    color : #c9a646;
}

.high {
    background-color: #fdd2d2;
    color : #cf5e5e;
}

.title {
    padding: 0.45rem;
    margin-top: auto;
    margin-bottom: auto;
}

