@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
#root {
    max-width: 1600px;
    margin-inline: auto;
    width: auto;
    padding: 1rem 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Noto Sans";
}


.bg-dark {
    background: linear-gradient(90deg, #343434, #101010);
    color: white;
    border: none;
    transition: background 0.2s;

    &:hover {
        background: linear-gradient(90deg, #535353, #272727);
    }
}

