.container {
    padding: 0.5rem 0rem;
    overflow-x: auto;
    width: auto;
}

@media (width > 500px) {
    .container {
        padding: 2rem 0.5rem;
    }
}
@media (width > 1600px) {
    .container {
        padding: 1.5rem;
    }
}
